body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  border-top: 0.5rem solid black;
  border-right: 0.5rem solid black;
  border-left: 0.5rem solid black;

  padding: 2rem 2rem;
  box-sizing: border-box;
}


header {
  display: grid;
  grid-template-columns: 5fr 1fr ;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "logo logo"
    "ticker ticker"
    "title main-img"
    "intro intro"
  ;
}

#ticker {
  grid-area: ticker;
  background-color: black;
}

#logo {
  grid-area: logo;
  justify-self: stretch;
  width: 100%;
  align-self: center;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
}
#title {
  grid-area: title;
}

#main-img {
  grid-area: main-img;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#intro {
  grid-area: intro;
}


li a {
  box-sizing: border-box;
  font-size: 31px;
  border: 5px solid black;
  padding: 13px 22px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0 0 black;
  transition: top 200ms, left 200ms, box-shadow 200ms;
}

li a:hover {
  background: #ff6eee;
  color: white;
  position: relative;
  top: -10px;
  left: -13px;
  box-shadow: 10px 13px 0 0 black;
}

li a:hover span {
  color: black;
}

a span {
  font-size: 19px;
  color: #b4b4b4;
  font-weight: normal;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;

}

h1 {
  /* -webkit-text-stroke: 0.4rem #ff6eee; */
  font-size: 6.5rem;
  font-weight: bold;
  color: #ff6eee;
  line-height: 1;
  /* text-shadow: 0.5rem 0.5rem #ff6eee; */
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 1rem 0;

}

.wrapped {
  max-width: 800px;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 2.6rem;
  font-weight: bold;
}

.mid-p {
  font-size: 2rem;
}

.gray {
  color: #b4b4b4;
}

.section-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#other-links {
  background-color: black;
  flex-grow: 1;
}

#spinner {
  width: 100%;
  max-width: 500px;
  margin: auto;
}


/* Responsiveness  */
html {
  font-size: 15px;
}

@media only screen and (min-width: 1000px) {

  html {
    font-size: 19px;
  }


  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "logo ticker ticker"
    "title title main-img"
    "intro intro main-img"
    ;
  }

}