/*===================================================
--------------------- Variables ---------------------
===================================================*/



html {
  --fg: #111111;
  --bg: #e7e7e7;

  --fg2: #ff6eee;
  --bg2: #b4b4b4;
}



/*===================================================
---------------------- Resets -----------------------
===================================================*/



html, body, h1, h2, h3, p, ol,
ul, li, a, div, span, article,
aside, main, section, header {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}



/*===================================================
-------------------- Components ---------------------
===================================================*/

/* Header components */
#topbar {
  grid-area: topb;
  display: flex;
  flex-flow: column nowrap;
}


#title {
  grid-area: titl;
}

#ex1 {
  display: block;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom:-5px;
  text-align: center;
}

#ex23 {
  margin: 0;
  padding: 5px;
  font-size: 1.62em;
}

#copy {
  grid-area: copy;
  background-color: var(--bg2);
}

ul {
  margin-left: 1rem;
}

#logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-img {
  width: 100%;
  max-width: 500px;
  margin: 0.5rem;
  margin-left: 0;
}

#social {
  grid-area: soci;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#social a {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.8rem 0.8rem;
  padding: 0;
}

#social img {
  width: 2.5rem;
}

#mission {
  flex-grow: 1;
  grid-area: miss;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #b4b4b4;
}

#ticker {
  grid-area: tick;
  background-color: var(--fg);
}

#intro {
  grid-area: intr;
}

#anim {
  grid-area: anim;
  background-color: var(--fg2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#copyright {
  background-color: var(--bg2);
}

section {
  box-sizing: border-box;
  border-top: 0.5rem solid black;
  border-right: 0.5rem solid black;
  border-left: 0.5rem solid black;

  padding: 2rem 2rem;
}

section.unpadded {
  padding: 0 2rem;
}

div.content {
  display: block;
}

div.content.hidden {
  display: none;
}

.section-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 7.5rem;
  margin: -20px;
  margin-right: -7px;
  /* transition: ro; */
  transition: 300ms ease all;
}

h1 {
  font-size: 6.88em;
  font-weight: bold;
  line-height: 1.1em;

  -webkit-text-stroke: 0.26rem var(--fg2);

  color: var(--fg2);
  text-align: center;
  word-break: break-all; 
}

h2 {
  font-size: 4.25em;
  font-weight: bold;
  line-height: 1.1em;

  color: var(--fg);
}

h3 {
  font-size: 1.62em;
  font-weight: bold;
  line-height: 1.1em;

  text-align: center;

  margin-top: 1em;
  color: var(--fg);
}

p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.62em;

  margin: 1rem 0 1rem 0;
  color: var(--fg);

  text-align: center;
}

p.imp {
  font-size: 2.62em;
  font-weight: bold;
  line-height: 1.27em;
  margin: 0 0 1rem 0;
  color: var(--fg);
}

p.wrapped {
  max-width: 700px;
}

/* Link buttons */

ul.btns {
  margin-left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  font-size: 1.62rem;
  margin-top: 0.7rem;
}

.playlist-link {
  width: 50px;
}

.playlist-link img {
  width: 50px;
}

ul.btns li {
  width: 100%;
  max-width: 650px;
  margin-top: 1rem;
  flex-grow: 1;

}
a {
  position: relative;
  top: 0;
  left: 0;
  transition: top 300ms, left 300ms;
}
li span {
  font-size: 1.62rem;
}
a:hover {
  top: -3px;
  left: -1px;
}

ul.btns li a {
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 0.25rem solid black;
  padding: 0.6rem 1.1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
  color: black;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: 0rem;
  left: 0rem;
  box-shadow: 0rem 0rem 0 0 black;
  transition: top 200ms, left 200ms, box-shadow 200ms;
}

ul.btns li a:hover {
  background: #ff6eee;
  color: white;
  position: relative;
  top: -0.5rem;
  left: -0.6rem;
  box-shadow: 0.5rem 0.6rem 0 0 black;
}

ul.btns li a:hover span {
  color: black;
}

a span {
  font-size: 1rem;
  color: #b4b4b4;
  font-weight: normal;
}



a {
  font-size: 1.62rem;
  color: var(--fg2);
  text-align: center;

}

p a {
  text-decoration: underline;
}


#mission a {
  background-color: white;
  color: black;
  border: 0.25rem solid black;
  padding: 0.5rem 0.8rem;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: start;

  background-color: var(--fg2);
}

label {
  font-size: 1rem;
}

form {
  width: 80%;
  max-width: 500px;
}

input[type="text"] {
  box-sizing: border-box;
  display: block;
  border: 5px solid black;
  padding: 0.5em;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
}

input {
  margin: 5px; 
}

input[type="submit"] {
  box-sizing: border-box;
  display: block;
  border: 5px solid black;
  padding: 0.3em;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

/*===================================================
----------------- Responsive Layout -----------------
===================================================*/



/* Mobile (Default) */
html { 
  font-size: 9px;
}


/* Tablet modifications*/
@media (min-width: 460px) {

html {
  font-size: 17px;
}

}


/* Desktop modifications*/
@media (min-width: 1300px) {

html {
  font-size: 19px;
  /* font-size: 1.7rem; */
}

header {
  /* font-size: 1.7rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 600px;
  grid-template-rows: minmax(100px, auto) auto 1fr;
  grid-template-areas: 
    "topb topb topb topb topb"

    "titl titl titl titl anim"
    "intr intr intr intr anim"
  ;
  justify-items: stretch;
  align-items: stretch;
}

p {
  font-size: 1rem;
  text-align: left;
}

#logo {
  justify-content: start;
  padding-right: 180px;
}

section {
  border-left: 0;
}

h1 {
  text-align: left;
}


ul.btns {
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: start;
  list-style: none;
}

#mission {
  justify-content: flex-end;
}

#ex1, #ex2 {
  text-align: left;
}

#ex2 {
  margin-bottom:15px;
}

#topbar {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
}

ul.btns li {
  margin-right: 1rem;

}

h3 {
  text-align: left;
}

section{
padding: 2rem 1rem;
}

section.unpadded {
  padding: 0 1rem;
}

a {
  font-size: 1rem;
}
li span {
  font-size: 1rem;
}

li {
  font-size: 1rem;

}

}
