/* 
======================================
===== LIVEINEVERYNOW. Primitives =====
======================================
*/



/* Mobile Base Unit */
html { 
  --base: 7.4;
}

/* Tablet Base Unit*/
@media (min-width: 600px) { html {
  --base: 7.6;
}}

/* Desktop Base Unit*/
@media (min-width: 960px) { html {
  --base: 7.8;
}}

/* Display Base Unit*/
@media (min-width: 1280px) { html {
  --base: 8;
}}

/* Ultra Base Unit*/
@media (min-width: 2000px) { html {
  --base: 8.2;
}}



html {
  
  /* Spacing (REM unit) */
  font-size: calc(var(--base) * 1px);

  
  /* Colors */
  --f1: #000000;  /* black */
  --f2: #707070;  /* gray */
  --b1: #ffffff;  /* white */
  --b2: #e4e4e4;  /* light-grey */
  --ac: #ff6eee;  /* pink */
  
  /* Font Family */
  --title: 'Neue Helvetica', 'Helvetica', sans-serif;
  --body: 'Neue Helvetica', 'Helvetica', sans-serif;
  
  /* Font Size */
  --pow: calc(var(--base) / 6.3);
  --M:   2.5rem;
  --XXXL: calc(var(--M) * var(--pow) * var(--pow) * var(--pow) * var(--pow));
  --XXL: calc(var(--M) * var(--pow) * var(--pow) * var(--pow));
  --XL:  calc(var(--M) * var(--pow) * var(--pow));
  --L:   calc(var(--M) * var(--pow));
  --S:   calc(var(--M) / var(--pow));
  
  /* Letter Spacing */
  --kerning: 0em;
  
  /* Font Weight */
  --light:  300;
  --medium: 500;
  --bold:   900;

  /* Line Height */
  --short:   1.2;
  --tall:    1.4;

  /* Box Border */
  --border:  solid 0.2rem var(--f1);

  /* Border Radius */
  --radius:    5px;

  /* Box Shadow */
  --shadow: 0 5px 8px 0 rgba(0, 0, 0, 25%);
  --no-shadow: 0 0 0 0 rgba(0, 0, 0, 0%);
  
  /* Animation */
  --curve: ease-in-out;
  --duration: 350ms;

  /* Column Widths */
  --mobile: 90%;
  --logo: min(40rem, var(--mobile));
  --thin: min(65rem, var(--mobile));
  --article: min(85rem, var(--mobile));
  --wide: min(137rem, var(--mobile));

  /* Spacing */
  --gap1: 8rem;
  --gap2: 12rem;
  --gap3: 16rem;
  
}


/* 
======================================
============= CSS Resets =============
======================================
*/

body, h1, h2, h3, p, span {
  background: var(--b1);
  font-family: var(--body);
  font-size: var(--M);
  font-weight: var(--light);
  line-height: var(--tall);
  color: var(--f1);
  letter-spacing: var(--kerning);
  vertical-align: baseline;
  padding: 0;
  margin: 0;
}

