*{
padding: 0;
margin: 0;
transition: .15s;
}

header{
  margin: auto;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 24px;
}

#logo{
  margin: 48px 0;
  width: 30%;
}

svg.arrow{
max-width: 28px;
margin-left: 16px;
}


body{
  max-width: 738px;
  margin: auto;
  color: #121212;
}

h1{
  font-size: 48px;
  letter-spacing: -1.5px;
}

a svg{
  fill: #c4c4c4;
}

a svg:hover{
  fill:#121212;
}

h1.greyed{
  color: #c4c4c4;
}

p{
  font-size: 24px;
  color: #636363;
  line-height: 1.648;
  margin-top: 8px;
}

.navDescription{
width: 75%;
  }

.navBlock{
  margin-bottom: 24px;
}

div.navBlock div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.navBlock div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.navBlock div div a svg{
  padding: 12px;
}

div.navBlock div div a:last-child  svg{
  padding-right: 0;
}

#social {
  margin-top: 96px;
}

.mission {
  text-align: center;
  margin: 122px 0;
}

.mission h3 {
  text-transform: uppercase;
  font-size: 19px;
  margin: 48px 0;
}

.mission p {
  line-height: 1.3;
  font-size: 48px;
  color: #121212;
}

#gradient{
  font-size: 48px;
  background: -webkit-linear-gradient(left, #ff6eee 30%, #FFE842);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form{
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}

form input{
  margin: auto;
  height: 66px;
  color: #9D9D9D;
  background: #F3F3F3;
  border: none;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin-top: 24px;
  font-size: 19px;
}

button{
  background: black;
  border-radius: 10px;
  border: none;
  color: white;
  letter-spacing: -.5px;
  width: 267px;
  height: 66px;
  margin-top: 24px;
  font-size: 19px;
  cursor: pointer;
}

button:hover{
  box-shadow: 0px 10px 20px #00000030;
  transform:translateY(-2px);
}

footer{
margin-top: 122px;
align-items: center;
text-align: center;
margin-bottom: 24px;
}

footer p{
  font-size: 15px;
  color: #121212;
  margin-top: -10px;
}

#pink{
  color: #ff6eee;
}
