
.gradient{
  font-size: 48px;
  background: -webkit-linear-gradient(left, #ff6eee 30%, #FFE842);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.center {
    text-align: center;
    margin: auto;
}

.form{
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}

.input{
  margin: auto;
  height: 66px;
  color: #9D9D9D;
  background: #F3F3F3;
  border: none;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin-top: 24px;
  font-size: 19px;
}

.submit {
  background: black;
  border-radius: 10px;
  border: none;
  color: white;
  letter-spacing: -.5px;
  width: 267px;
  height: 66px;
  display: block;
  margin: auto;
  margin-top: 24px;
  font-size: 19px;
  cursor: pointer;

}

.submit:hover{
  box-shadow: 0px 10px 20px #00000030;
  transform:translateY(-2px);
}
