/*
Present Basics
*/

html {

    /* Mobile font size */
    --t1: 12px;
    --t2: 14px;
    --t3: 16px;
    --t4: 20px;
    --t5: 22px;
    --t6: 24px;
    --t7: 28px;
    --t8: 34px;


    /* Spacing */
    --s1: calc(1 * var(--grid));
    --s2: calc(2 * var(--grid));
    --s3: calc(3 * var(--grid));
    --s4: calc(4 * var(--grid));
    --s5: calc(5 * var(--grid));
    --s6: calc(6 * var(--grid));
    --s7: calc(7 * var(--grid));
    --s8: calc(8 * var(--grid));
    --s9: calc(9 * var(--grid));

    /* Kerning */
    --k0: 0em;
    --k1: -1%;
    --k2: -3%;
    --k3: 5%;

    /* Line Height */
    --h1: 1.2;
    --h2: 1.5;
    --h3: 1.8;

    /* Font Weight */
    --w1: 300;
    --w2: 500;
    --w3: 900;

    /* Font Family */
    --body-font: sans-serif;
    --header-font: serif;

    /* Colors */
    --black: #212121;
    --white: #ffffff;
    --brand: #cfc0ff;
    --gray1: #e7e7e7;
    --gray2: #d2d2d2;
    --gray3: #a3a3a3;
    --gray4: #7d7d7d;

    /* Border */
    --b0: none;
    --b1: 1px solid var(--black);

    /* Border Radius */
    --r0: none;
    --r1: 1rem;

}

@media only screen and (min-width: 600px) {
    html {
	/* Desktop font size */
	--t1: 12px;
	--t2: 16px;
	--t3: 18px;
	--t4: 22px;
	--t5: 28px;
	--t6: 36px;
	--t7: 40px;
	--t8: 52px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--t1);
}
