@tailwind base;
@tailwind components;
@tailwind utilities;


/*
Present Basics
*/

html {

    /* Mobile font size */
    --t1: 12px;
    --t2: 14px;
    --t3: 16px;
    --t4: 20px;
    --t5: 22px;
    --t6: 24px;
    --t7: 28px;
    --t8: 34px;
    --t9: 34px;
    --t10: 34px;
    --t11: 34px;


    /* Spacing */
    --grid: 8px;
    --s1: calc(1 * var(--grid));
    --s2: calc(2 * var(--grid));
    --s3: calc(3 * var(--grid));
    --s4: calc(4 * var(--grid));
    --s5: calc(5 * var(--grid));
    --s6: calc(6 * var(--grid));
    --s7: calc(7 * var(--grid));
    --s8: calc(8 * var(--grid));
    --s9: calc(9 * var(--grid));

    /* Kerning */
    --k0: 0em;
    --k1: -1%;
    --k2: -3%;
    --k3: 5%;

    /* Line Height */
    --h1: 1.2;
    --h2: 1.5;
    --h3: 1.8;

    /* Font Weight */
    --w1: 300;
    --w2: 500;
    --w3: 900;

    /* Font Family */
    --body-font: sans-serif;
    --header-font: serif;

    /* Colors */
    --black: #212121;
    --white: #ffffff;
    --brand: #cfc0ff;
    --gray1: #e7e7e7;
    --gray2: #d2d2d2;
    --gray3: #a3a3a3;
    --gray4: #7d7d7d;

    /* Border */
    --b0: none;
    --b1: 1px solid var(--black);

    /* Border Radius */
    --r0: none;
    --r1: 1rem;

}

@media only screen and (min-width: 600px) {
    html {
	/* Desktop font size */
	--t1: 12px;
	--t2: 16px;
	--t3: 18px;
	--t4: 22px;
	--t5: 28px;
	--t6: 36px;
	--t7: 40px;
	--t8: 52px;
	--t9: 96px;
	--t10: 128px;
	--t11: 256px;

	/* Desktop grid size */
	--grid: 8px;
    }
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--body-font);
    font-size: var(--t3);

    background-color: var(--white);
    color: var(--black);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    color: var(--black);
}

/* Colors */

/* Text Sizes */
.t1 { font-size: var(--t1); }
.t2 { font-size: var(--t2); }
.t3 { font-size: var(--t3); }
.t4 { font-size: var(--t4); }
.t5 { font-size: var(--t5); }
.t6 { font-size: var(--t6); }
.t7 { font-size: var(--t7); }
.t8 { font-size: var(--t8); }


/* Line Heights */
.h1 { line-height: var(--h1); }
.h2 { line-height: var(--h2); }
.h3 { line-height: var(--h3); }


/* Line Weight */
.w1 { font-weight: var(--w1); }
.w2 { font-weight: var(--w2); }
.w3 { font-weight: var(--w3); }

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Spacing */
.margin-top-1 { margin-top: var(--s1); }
.margin-top-2 { margin-top: var(--s2); }
.margin-top-3 { margin-top: var(--s3); }
.margin-top-4 { margin-top: var(--s4); }
.margin-top-5 { margin-top: var(--s5); }
.margin-top-6 { margin-top: var(--s6); }
.margin-top-7 { margin-top: var(--s7); }
.margin-top-8 { margin-top: var(--s8); }
.margin-top-9 { margin-top: var(--s9); }

.margin-bot-1 { margin-bottom: var(--s1); }
.margin-bot-2 { margin-bottom: var(--s2); }
.margin-bot-3 { margin-bottom: var(--s3); }
.margin-bot-4 { margin-bottom: var(--s4); }
.margin-bot-5 { margin-bottom: var(--s5); }
.margin-bot-6 { margin-bottom: var(--s6); }
.margin-bot-7 { margin-bottom: var(--s7); }
.margin-bot-8 { margin-bottom: var(--s8); }
.margin-bot-9 { margin-bottom: var(--s9); }

.margin-left-1 { margin-left: var(--s1); }
.margin-left-2 { margin-left: var(--s2); }
.margin-left-3 { margin-left: var(--s3); }
.margin-left-4 { margin-left: var(--s4); }
.margin-left-5 { margin-left: var(--s5); }
.margin-left-6 { margin-left: var(--s6); }
.margin-left-7 { margin-left: var(--s7); }
.margin-left-8 { margin-left: var(--s8); }
.margin-left-9 { margin-left: var(--s9); }

.margin-right-1 { margin-right: var(--s1); }
.margin-right-2 { margin-right: var(--s2); }
.margin-right-3 { margin-right: var(--s3); }
.margin-right-4 { margin-right: var(--s4); }
.margin-right-5 { margin-right: var(--s5); }
.margin-right-6 { margin-right: var(--s6); }
.margin-right-7 { margin-right: var(--s7); }
.margin-right-8 { margin-right: var(--s8); }
.margin-right-9 { margin-right: var(--s9); }

.margin-1 { margin: var(--s1); }
.margin-2 { margin: var(--s2); }
.margin-3 { margin: var(--s3); }
.margin-4 { margin: var(--s4); }
.margin-5 { margin: var(--s5); }
.margin-6 { margin: var(--s6); }
.margin-7 { margin: var(--s7); }
.margin-8 { margin: var(--s8); }
.margin-9 { margin: var(--s9); }

.padding-top-1 { padding-top: var(--s1); }
.padding-top-2 { padding-top: var(--s2); }
.padding-top-3 { padding-top: var(--s3); }
.padding-top-4 { padding-top: var(--s4); }
.padding-top-5 { padding-top: var(--s5); }
.padding-top-6 { padding-top: var(--s6); }
.padding-top-7 { padding-top: var(--s7); }
.padding-top-8 { padding-top: var(--s8); }
.padding-top-9 { padding-top: var(--s9); }

.padding-bot-1 { padding-bottom: var(--s1); }
.padding-bot-2 { padding-bottom: var(--s2); }
.padding-bot-3 { padding-bottom: var(--s3); }
.padding-bot-4 { padding-bottom: var(--s4); }
.padding-bot-5 { padding-bottom: var(--s5); }
.padding-bot-6 { padding-bottom: var(--s6); }
.padding-bot-7 { padding-bottom: var(--s7); }
.padding-bot-8 { padding-bottom: var(--s8); }
.padding-bot-9 { padding-bottom: var(--s9); }

.padding-left-1 { padding-left: var(--s1); }
.padding-left-2 { padding-left: var(--s2); }
.padding-left-3 { padding-left: var(--s3); }
.padding-left-4 { padding-left: var(--s4); }
.padding-left-5 { padding-left: var(--s5); }
.padding-left-6 { padding-left: var(--s6); }
.padding-left-7 { padding-left: var(--s7); }
.padding-left-8 { padding-left: var(--s8); }
.padding-left-9 { padding-left: var(--s9); }

.padding-right-1 { padding-right: var(--s1); }
.padding-right-2 { padding-right: var(--s2); }
.padding-right-3 { padding-right: var(--s3); }
.padding-right-4 { padding-right: var(--s4); }
.padding-right-5 { padding-right: var(--s5); }
.padding-right-6 { padding-right: var(--s6); }
.padding-right-7 { padding-right: var(--s7); }
.padding-right-8 { padding-right: var(--s8); }
.padding-right-9 { padding-right: var(--s9); }

.padding-1 { padding: var(--s1); }
.padding-2 { padding: var(--s2); }
.padding-3 { padding: var(--s3); }
.padding-4 { padding: var(--s4); }
.padding-5 { padding: var(--s5); }
.padding-6 { padding: var(--s6); }
.padding-7 { padding: var(--s7); }
.padding-8 { padding: var(--s8); }
.padding-9 { padding: var(--s9); }

.border-top { border-top: 2px solid var(--black); }
.border-bot { border-bot: 2px solid var(--black); }
.border-left { border-left: 2px solid var(--black); }
.border-right { border-right: 2px solid var(--black); }
.border { border: 2px solid var(--black); }
